<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwang.mapper.ConsumeStudentResultMapper" >
  <resultMap id="BaseResultMap" type="com.itwang.pojo.ConsumeStudentResult" >
    <result column="outid" property="outid" jdbcType="VARCHAR" />
    <result column="dscrp" property="dscrp" jdbcType="VARCHAR" />
    <result column="total" property="total" jdbcType="DOUBLE" />
    <result column="frequency" property="frequency" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    outid, dscrp, total, frequency
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.itwang.pojo.ConsumeStudentResultExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from consume_student_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.itwang.pojo.ConsumeStudentResultExample" >
    delete from consume_student_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.itwang.pojo.ConsumeStudentResult" >
    insert into consume_student_result (outid, dscrp, total, 
      frequency)
    values (#{outid,jdbcType=VARCHAR}, #{dscrp,jdbcType=VARCHAR}, #{total,jdbcType=DOUBLE}, 
      #{frequency,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.itwang.pojo.ConsumeStudentResult" >
    insert into consume_student_result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="outid != null" >
        outid,
      </if>
      <if test="dscrp != null" >
        dscrp,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="frequency != null" >
        frequency,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="outid != null" >
        #{outid,jdbcType=VARCHAR},
      </if>
      <if test="dscrp != null" >
        #{dscrp,jdbcType=VARCHAR},
      </if>
      <if test="total != null" >
        #{total,jdbcType=DOUBLE},
      </if>
      <if test="frequency != null" >
        #{frequency,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.itwang.pojo.ConsumeStudentResultExample" resultType="java.lang.Integer" >
    select count(*) from consume_student_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update consume_student_result
    <set >
      <if test="record.outid != null" >
        outid = #{record.outid,jdbcType=VARCHAR},
      </if>
      <if test="record.dscrp != null" >
        dscrp = #{record.dscrp,jdbcType=VARCHAR},
      </if>
      <if test="record.total != null" >
        total = #{record.total,jdbcType=DOUBLE},
      </if>
      <if test="record.frequency != null" >
        frequency = #{record.frequency,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update consume_student_result
    set outid = #{record.outid,jdbcType=VARCHAR},
      dscrp = #{record.dscrp,jdbcType=VARCHAR},
      total = #{record.total,jdbcType=DOUBLE},
      frequency = #{record.frequency,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>