<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwang.mapper.UserbooktagsMapper" >
  <resultMap id="BaseResultMap" type="com.itwang.pojo.Userbooktags" >
    <result column="outid" property="outid" jdbcType="VARCHAR" />
    <result column="tag_name" property="tagName" jdbcType="VARCHAR" />
    <result column="tag_value" property="tagValue" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    outid, tag_name, tag_value
  </sql>
  <select id="getUserBookTagsByOutid" resultType="com.itwang.pojo.PersonUserTags">
    select tag_name as name, tag_value as value from userbooktags where outid = #{outid}
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.itwang.pojo.UserbooktagsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from userbooktags
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.itwang.pojo.UserbooktagsExample" >
    delete from userbooktags
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.itwang.pojo.Userbooktags" >
    insert into userbooktags (outid, tag_name, tag_value
      )
    values (#{outid,jdbcType=VARCHAR}, #{tagName,jdbcType=VARCHAR}, #{tagValue,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.itwang.pojo.Userbooktags" >
    insert into userbooktags
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="outid != null" >
        outid,
      </if>
      <if test="tagName != null" >
        tag_name,
      </if>
      <if test="tagValue != null" >
        tag_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="outid != null" >
        #{outid,jdbcType=VARCHAR},
      </if>
      <if test="tagName != null" >
        #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="tagValue != null" >
        #{tagValue,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.itwang.pojo.UserbooktagsExample" resultType="java.lang.Integer" >
    select count(*) from userbooktags
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update userbooktags
    <set >
      <if test="record.outid != null" >
        outid = #{record.outid,jdbcType=VARCHAR},
      </if>
      <if test="record.tagName != null" >
        tag_name = #{record.tagName,jdbcType=VARCHAR},
      </if>
      <if test="record.tagValue != null" >
        tag_value = #{record.tagValue,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update userbooktags
    set outid = #{record.outid,jdbcType=VARCHAR},
      tag_name = #{record.tagName,jdbcType=VARCHAR},
      tag_value = #{record.tagValue,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>